{% extends "base.html" %}
{% load static %}
{% block titulo %} OS - Cambio Completado {% endblock %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'AppPagina/css/inventario.css' %}">
{% endblock %}
{% block contenido %}
<div class="container login-container">
    <div class="card-login text-center">
        <h2 class="mb-4">¡ÉXITO!</h2>
        <p>Tu contraseña ha sido actualizada correctamente. Ahora puedes iniciar sesión con tu nueva clave.</p>
        <a href="{% url 'index' %}" class="btn btn-neon mt-3">Iniciar Sesión</a>
    </div>
</div>
{% endblock %}